.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar_stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar_stat {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sidebar_stat > p {
  color: gray;
  font-size: 12px;
  font-weight: 600;
}

.account_icon {
  object-fit: contain;
  height: 70px !important;
  width: 70px !important;
}

.account_name {
  font-size: 20px;
  font-weight: 400;
}

.account_title {
  font-size: 15px;
  font-weight: 200;
}

.account_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
