.widgets {
  flex: 0.2;

  top: 80px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widget_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widget_header > h2 {
  font-size: 16px;
  font-weight: 400;
}

.widget_name {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
}

.widget_name:hover {
  background-color: whitesmoke;
}
.widgets_nameright {
  flex: 1;
}

.widgets_nameright > h4 {
  font-size: 14px;
}

.widgets_nameright > p {
  font-size: 12px;
  color: gray;
}
